@import "../../fonts/fonts.scss";
.skills__container {
  position: absolute;
  top: 23.5%;
  left: 27.3%;
  width: 47.6%;
  height: 64.2%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(5, 83, 121, 1) 18%,
    rgba(255, 255, 255, 1) 100%
  );
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  .skills__title {
    text-align: center;
    color: rgb(14, 3, 75);
    padding: 40px 0 20px;
    font-size: 40px;

    font-family: $fontB;
    text-transform: uppercase;
  }

  .skills__items {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;
    margin: 0 auto;
    padding: 0 10px;
    width: 90%;
    .skills__item {
      width: 100px;
      height: 100px;
      color: white;
      border-radius: 25px;
      &-html {
        background-color: #ff6d00;
        border: 1.5px solid #e65100;
      }
      &-css {
        background-color: #039be5;
        border: 1.5px solid #0277bd;
      }
      &-js {
        background-color: #f2bf22;
        border: 1.5px solid #e7a42b;
      }
      &-react {
        background-color: #8bb7f0;
        border: 1.5px solid #5078b7;
      }
      &-redux {
        background-color: #7e57c2;
        border: 1.5px solid #5f4094;
      }
      &-eslint {
        background-color: #7986cb;
        border: 1.5px solid #3949ab;
      }
      &-git {
        background-color: #f4511e;
        border: 1.5px solid #be350c;
      }
      &-sass {
        background-color: #f06292;
        border: 1.5px solid #ec6494;
      }
      &-vsc {
        background-color: #29b6f6;
        border: 1.5px solid #0288d1;
      }
      &-rwd {
        background-color: #1ed7eb;
        border: 1.5px solid #1e8ceb;

        .skills__item-image {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 90%;
            height: 90%;
          }
        }
      }
      &-image {
        width: 100%;
        height: 80%;
        background-color: white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        // border: 1px solid gray;
        img {
          height: 100%;
          width: 100%;
        }
      }
      &-name {
        text-align: center;
      }
    }
  }
  .skills__projects-navigator {
    text-align: center;
    font-family: $fontD;
    font-size: 20px;
    color: white;
    span {
      color: rgb(127, 230, 127);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@media (max-width: 1380px) {
  .skills__container {
    position: absolute;
    top: 23.5%;
    left: 27.3%;
    width: 47.6%;
    height: 64.2%;
    .skills__title {
      padding: 40px 0 20px;
      font-size: calc(40px * 0.9);
    }

    .skills__items {
      padding-top: 10px;
      gap: 2%;

      .skills__item {
        width: 70px;
        height: 70px;
        &-name {
          text-align: center;
          padding-top: 2%;
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .skills__container {
    position: absolute;
    top: 23.5%;
    left: 27.3%;
    width: 47.6%;
    height: 64.2%;
    .skills__title {
      padding: 40px 0 20px;
      font-size: calc(40px * 0.9);
    }

    .skills__items {
      padding-top: 10px;
      gap: 2%;

      .skills__item {
        width: 70px;
        height: 70px;
        &-name {
          text-align: center;
          padding-top: 2%;
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 922px) {
  .skills__container {
    .skills__title {
      padding: 30px 0 15px;
      font-size: calc(40px * 0.85);
    }

    .skills__items {
      .skills__item {
        width: 60px;
        height: 60px;
        &-name {
          text-align: center;
          padding-top: 2%;
          font-size: 8px;
        }
      }
    }
    .skills__projects-navigator {
      font-size: calc(20px * 0.8);
    }
  }
}

@media (max-width: 720px) {
  .skills__container {
    position: absolute;
    top: 26.6%;
    left: 6.7%;
    width: 86.6%;
    height: 64.2%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    .skills__title {
      padding: 20px 0 10px;
    }

    .skills__items {
      width: 80%;
      .skills__item {
        width: 60px;
        height: 60px;
      }
    }
  }
}
@media (max-width: 580px) {
  .skills__container {
    .skills__title {
      font-size: calc(40px * 0.7);
    }

    .skills__items {
      .skills__item {
        width: 60px;
        height: 60px;
      }
    }
    .skills__projects-navigator {
      font-size: calc(20px * 0.7);
    }
  }
}

@media (max-width: 375px) {
  .skills__container {
    .skills__title {
      padding: 20px 0 10px;
      font-size: calc(40px * 0.7);
    }

    .skills__items {
      .skills__item {
        width: 55px;
        height: 55px;
        &-name {
          text-align: center;
          padding-top: 2%;
          font-size: 6px;
          font-weight: 700;
        }
      }
    }
    .skills__projects-navigator {
      font-size: calc(20px * 0.7);
    }
  }
}
