@import "../../variables/variables.scss";
.about__wrapper {
  position: absolute;
  width: 40%;
  top: 25%;
  left: 30%;
  .title {
    margin-left: 20px;
    padding: 30px 0 10px;
    color: red;
    font-size: 44px;
    border-bottom: 4px solid #a4cbe7;
    width: 40%;
  }
  .specification {
    // background-color: darkblue;
    text-align: end;
    font-size: 38px;
  }
  .description {
    // width: 100%;
    font-size: 24px;
    background-color: yellow;
    font-weight: 600;
    font-family: $fontA;
  }
}
