@import "../../variables/variables.scss";
.about {
  position: absolute;
  width: 40%;
  top: 25%;
  left: 30%;
  &__title {
    margin-left: 20px;
    padding: 30px 0 10px;
    color: red;
    font-size: 44px;
    border-bottom: 4px solid #a4cbe7;
    width: 40%;
  }
  &__specification {
    text-align: end;
    font-size: 38px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  &__description {
    font-size: 1em;
    font-weight: 600;
    font-family: $fontA;
  }
}
