* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  background-size: 109% 180%;
  background-position: 45% 55%;
  background-image: url(./assets/pngs/backroundImage.png);
  background-repeat: no-repeat;
}
.App {
  width: 100%;
}
.message {
  width: 20%;
  position: absolute;
  top: 32%;
  right: 39%;
  font-size: 174px;
  color: orange;
  cursor: pointer;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.message-active {
  animation: moveUpDown 0.4s linear infinite;
}
.message-opened {
  transition: 1s;
  font-size: 0px;
}
@media (max-width: 720px) {
  body {
    background-size: 198% 190%;
    background-position: 51.1% 50%;
  }
}
