@import "../../variables/variables.scss";
.container {
  h1 {
    position: absolute;
    top: 33%;
    left: 35%;
    color: rgb(3, 170, 3);
    font-size: 46px;
  }
  p {
    font-family: "Arimo", sans-serif;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 20px;
    width: 20%;
  }
  span {
    position: absolute;
    top: 75%;
    right: 33%;
    cursor: pointer;
    &:hover {
      color: rgb(3, 170, 3);
    }
  }
}
